@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --color-white: hsl(0, 0%, 100%);

  --color-lightgray: hsl(212, 45%, 89%);

  --color-grayishblue: hsl(220, 15%, 55%);

  --color-darkblue: hsl(218, 44%, 22%);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-lightgray);
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--color-white);
  border-radius: 20px;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  max-width: 320px;
}

.card img {
  border-radius: 20px;
  width: 110%;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-text h1 {
  color: var(--color-darkblue);
  text-align: center;
}

.card-text p {
  color: var(--color-grayishblue);
  text-align: center;
}


